numpy
keyboard
loguru
sounddevice
openai
python-dotenv
scipy
pydub
pygame
pyautogui
openai-whisper
huggingface_hub

# If using local model
--index-url https://download.pytorch.org/whl/cu121
torch
torchaudio