numpy
keyboard
loguru
sounddevice
openai
python-dotenv
scipy
pydub
pygame
pyautogui
openai-whisper
huggingface_hub
transformers
torch # --index-url https://download.pytorch.org/whl/cu121
torchaudio
accelerate
pyperclip